<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.perma.dao.TaskDAO">

	<sql id="cols">
		id,name,score
	</sql>

	<resultMap type="Task" id="TaskResult">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="score" column="score" />
	</resultMap>

	<insert id="add" parameterType="Task" useGeneratedKeys="true"
		keyProperty="id">
		insert into t_task values(null,#{name},#{score})
	</insert>

	<delete id="delete" parameterType="int">
		delete from t_task where
		id=#{id}
	</delete>

	<update id="update" parameterType="Task">
		update t_task
		<set>
			<if test="name!=null">name=#{name},</if>
			<if test="score!=null">score=#{score},</if>
		</set>
		where id=#{id}
	</update>

	<select id="getTask" parameterType="int" resultType="Task">
		select
		<include refid="cols" />
		from t_task
		<where>
			<if test="id!=null">and id=#{id}</if>
			<if test="name!=null">and name=#{name}</if>
			<if test="score!=null">and score=#{score}</if>
		</where>
	</select>

	<select id="getAll" resultMap="TaskResult">
		select
		<include refid="cols" />
		from t_task
	</select>
</mapper>