<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.perma.dao.UserDAO">

	<sql id="cols"> id,name,password,role </sql>

	<resultMap type="User" id="UserResult">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="password" column="password" />
		<result property="role" column="role" />
	</resultMap>

	<insert id="add" parameterType="User" useGeneratedKeys="true"
		keyProperty="id">
		insert into t_user
		values(null,#{name},#{password},#{role})
	</insert>

	<delete id="delete" parameterType="int">
		delete from t_user where
		id=#{id}
	</delete>

	<update id="update" parameterType="User">
		update t_user
		<set>
			<if test="name!=null">name=#{name},</if>
			<if test="password!=null">password=#{password},</if>
			<if test="role!=null">role=#{role},</if>
		</set>
		where id=#{id}
	</update>

	<select id="login" parameterType="User" resultType="User">
		select
		<include refid="cols" />
		from
		t_user where name=#{name} and password=#{password}
	</select>

	<select id="getAll" resultMap="UserResult">
		select
		<include refid="cols" />
		from t_user
	</select>
</mapper>